---
import BaseHead from '../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<main>
			<h1>SUYpport</h1>
			<p>
				Optimize your support services. <br>
				Hire experienced technical support engineers at a fraction of the cost.
			</p>
			<br>
			<div class="flex flex-col gap-12 sm:gap-16 items-end">
				<h2 id="WhoWeAre" class="text-3xl font-medium tracking-tight sm:text-4xl text-right">Who We Are?</h2>
				<p id="WhoWeAre" class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg text-right">
				  We are a startup that provides skilled technical support engineers for enterprise applications and cloud services. Our engineers come ready with the expertise you need—your team handles the rest.
			  </p>
			</div>

	</body>
</html>

<style>

	#WhoWeAre{
		 text-align: right;
	}

</style>
